*{
    margin:auto;
    padding: auto;
    background-color:white;
    color:black;

}
.main{
    
    /* background-color: #001f3f; */
    color:white;
}

#btn{
    background-color: #008080;
  
    color:white;
}
#bal{
    position:relative;
    /* left:0px; */
    margin-bottom:30px;
    width:auto;
    height:auto;
}
#balance{
    position: absolute;
    left:0px;
}

#head{
    padding:0px;
    margin:20px;
    height:40px;
    background-color: yellow;
     position:relative;
     top:10px; 
     /* z-index: 1000; */


    /* display:flex; */
    /* flex:1; */
    /* width:100vh; */
    
}
.header{
    text-align: center;
    font-size:20px;
    
    

}
.inex{
    display: flex;
    padding:20px;
    height:50px;
    width: 200px;
    margin-bottom:20px;
    border:1px solid black;
    border-radius:10px;
}
.income{
    color:green;
}
.expense{
    color:red;
}
#history{
    margin-bottom:10px;
}
#trans{
    margin-top:10px;
}
.deletebtn{
    background-color:white;
    /* margin-top:10px; */
}
.spn{
    margin:5px;
}
.list{
    width:250px;
    display:flex;
    border:1px solid black;
    padding-left:20px;
    
    margin-bottom: 10px;

}



